/Netology_Homework_OOP_3/x64
/Netology_Homework_OOP_3/.vs
/Netology_Homework_OOP_3/Netology_Homework_OOP_3/Netology_Homework_OOP_3.vcxproj.user
/Netology_Homework_OOP_3/Netology_Homework_OOP_3/x64
/Netology_Homework_OOP_4/x64
/Netology_Homework_OOP_4/.vs
/Netology_Homework_OOP_4/Netology_Homework_OOP_4/Netology_Homework_OOP_4.vcxproj.user
/Netology_Homework_OOP_4/Netology_Homework_OOP_4/x64
/Netology_Homework_OOP_5/x64
/Netology_Homework_OOP_5/.vs
/Netology_Homework_OOP_5/Netology_Homework_OOP_5/Netology_Homework_OOP_5.vcxproj.user
/Netology_Homework_OOP_5/Netology_Homework_OOP_5/x64